.container {
  height: 60vh;
  margin-top: 15%;

}

.registrationFormContainer {
  width: 80rem;
}

.registrationFormLegend {
  width: 60rem;
  background: #134b80;
  color: white;
}


.errorMessage {
  font-size: 12px;
  letter-spacing: 0.05rem;
  padding-left: 0.25rem;
  color: red;
}