.container {
  height: 20vh;

}

.registrationFormContainer {
  width: 80rem;
}

.registrationFormLegend {
  width: 60rem;
  background: #63b1ff;
}


.errorMessage {
  font-size: 12px;
  letter-spacing: 0.05rem;
  padding-left: 0.25rem;
  color: red;
}